// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0; }

body {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333; }

form {}

input, textarea {
  padding: 2px 5px;
  font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333333; }

h1, h2, h3 {
  margin-top: 1.5em;
  font-weight: normal; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1em; }

p, ul, ol {
  margin-top: 1.5em;
  line-height: 160%; }

ul, ol {
  margin-left: 3em; }

blockquote {
  margin-left: 3em;
  margin-right: 3em; }

a {
  color: #CC6B47;
  &:hover {
    text-decoration: none;
    color: #3760BF; }
  img {
    border: none; } }

img {
  &.left {
    float: left;
    margin: 0 20px 0 0; }
  &.right {
    float: right;
    margin: 0 0 0 20px; } }

hr {
  display: none; }

/* Header */

#header {
  height: 110px;
  margin: 0 auto;
  background: #2E2E2E; }

#logo {
  width: 778px;
  height: 110px;
  margin: 0 auto;
  h1, h2 {
    margin: 0;
    letter-spacing: -0.05em;
    /*text-transform: lowercase;*/
    font-weight: normal;
    color: #FFFFFF; }
  h1 {
    float: left;
    padding-top: 40px;
    font-size: 4em;
    a {
      text-decoration: none;
      color: #FFFFFF; } }
  h2 {
    float: left;
    padding: 67px 0 0 8px;
    font-size: 2em;
    font-style: italic;
    color: #858585; } }

/* Menu */

#menu-wrap {
  background: #2E2E2E; }

#menu {
  width: 778px;
  height: 50px;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal; }
  li {
    display: inline; }
  a {
    float: left;
    margin-right: 6px;
    padding: 5px 20px 5px 20px;
    background: #4C4D51;
    border: 1px #575C5F solid;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    &:hover {
      text-decoration: none;
      background: #983D3A;
      border: 1px #D45951 solid; } }
  .first a {
    background: #983D3A;
    border: 1px #D45951 solid; } }

/* Page */

#page {
  width: 778px;
  margin: 0 auto; }

#content {
  background: #F4EDD3;
  border-bottom: 4px #BBB082 solid; }

/* Post */

.post {
  .title {
    margin: 0;
    a {
      text-decoration: none; } }
  .byline {
    margin: 0 0 30px 0;
    line-height: normal; }
  .entry {
    min-height: 200px; }
  .meta {
    clear: both;
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline; } }
    .comments {
      padding-left: 20px;
      background: url(/images/img07.gif) no-repeat left center; }
    .permalink {
      padding-left: 20px;
      background: url(/images/img08.gif) no-repeat left center; } } }

/* Latest Post */

#latest-post-wrap {
  background: #E8DBA7;
  border-bottom: 4px #BBB082 solid; }

#latest-post {
  width: 778px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  h1 {
    margin: 10px 0;
    padding: 0; }
  p {
    margin: 0;
    padding-bottom: 15px; }
  .meta {
    padding: 10px 0 0 0; }
  .byline {
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #BBB082;
    font-size: .9em;
    font-weight: bold;
    color: #FFFFFF;
    span {
      padding: 0 0 0 15px; }
    a {
      padding: 0 30px 0 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline; } } } }

/* Recent Posts */

#recent-posts {
  width: 778px;
  margin: 0 auto;
  h2 {
    margin: 0;
    padding: 10px 0 10px 15px;
    background: #BBB082;
    letter-spacing: .5em;
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    color: #FFFFFF; }
  h3 {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 1.4em;
    a {
      text-decoration: none; } }
  ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  li {
    float: left;
    width: 240px;
    padding-left: 29px;
    &.first {
      padding: 0; } }
  .byline {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #DDD7C0 solid;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    span {}
    a {
      padding: 0 30px 0 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline; } } }
  p {
    padding: 0;
    margin: 0; } }

/* Sidebar */

#sidebar {
  width: 778px;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  li {
    float: left;
    width: 259px;
    ul {
      padding-left: 20px; }
    li {
      float: none;
      width: auto;
      padding: 3px 0;
      background: none; } }
  h2 {
    margin: 0 0 20px 0;
    padding: 10px 0 10px 16px;
    background: #BBB082;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: .9em;
    font-weight: bold;
    color: #FFFFFF; } }

/* Search */

#search #s {
  width: 80%;
  margin-bottom: 10px; }

/* Calendar */

#calendar {
  table {
    width: 100%;
    text-align: center; }
  caption {
    width: 100%;
    text-align: center;
    font-weight: bold; }
  a {
    font-weight: bold; } }

/* Footer */

#footer {
  clear: both;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  p {
    margin: 0;
    font-size: .8em;
    color: #666666; } }